.openingMessage {
    text-align: center;
    margin-top: 300px;
}

.js-welcomeMessage {
    opacity: 0;
}

.js-welcomeMessage1 {
    opacity: 1;
    display: flex;
    justify-content: center;
    animation: fadeIn1 1s ease-in 1;
}

.js-instructions {
    opacity: 0;
}

.js-instructions1 {
    opacity: 1;
    display: flex;
    justify-content: center;
    animation: fadeIn1 1s ease-in 1;
}

@keyframes fadeIn1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    animation: cosmos 60s infinite;
}

@keyframes cosmos {
    20% {
        background-color: blue;
    }

    40% {
        background-color: orange
    }

    60% {
        background-color: brown;
    }

    80% {
        background-color: purple;
    }
}

.name {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 500px;
    height: 50px;
    font-size: 50px;
}

.greeting {
    display: inline-block;
    display: none;
    font-size: 50px;
}

.greeting1 {
    display: inline-block;
}

.earthPosition {
    opacity: 0;
}
.earthPosition1 {
    opacity: 1;
    display: flex;
    justify-content: center;
    animation: fadeIn2 5s ease-in 1;
}

.earth1 {
    position: relative;
    background-image: url(./earth.jpg);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-left: 20px;
    margin-top: 20px;
    animation: earthRotate 30s alternate infinite linear;
    box-shadow: -20px -20px 50px 2px #000 inset;
    background-size: cover;
}

@keyframes earthRotate {

    100% {
        background-position: 100%;
    }
}

@keyframes fadeIn2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.time {
    position: absolute;
    left: 100px;
}